.container{
    display: flex;
    
}
.block{
    display: flex;
    background-color: #6C755A;
    float: center;
   
   
    
}
.textosn{
    padding-left: 60px;
    padding-right: 70px;
    
    font-size: 23px;
    font-family: PT Sans;
    line-height: 1.7; 
    color: #FEFFFB;
}
.services{
  
    margin-top: 600px;
    
}
