.container{
    display: flex;
    
}
.block{
    display: flex;
    background-color: #FEFFFB;
    float: center;

}
.textosn{
    padding-left: 60px;
    padding-right: 60px;
    font-weight: 700;
    font-size: 20px;
    font-family: PT Sans;
    line-height: 1.7; 
    padding-bottom: 20px;
    color: #6C755A;
}

.services{
  
    margin-top: 600px;
    
}
.image {
    
    float: right;
    margin-left: 20px;
    width: 40px;
   height: 40px;
  }
