.container {
  display: flex;
 
}
.cont{
   justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
  padding: 20px;
}

.profile {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.infoBlock {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.label {
  font-size: 18px;
  font-weight: 600;
  color: #666;
}

.value {
  font-size: 18px;
  color: #333;
}

.changePasswordButton {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #6C755A;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.changePasswordButton:hover {
  background-color: #6C755A;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .dashboard {
    padding: 15px;
  }

  .title {
    font-size: 20px;
  }

  .label,
  .value {
    font-size: 16px;
  }

  .changePasswordButton {
    padding: 8px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .dashboard {
    padding: 10px;
  }

  .title {
    font-size: 18px;
  }

  .label,
  .value {
    font-size: 14px;
  }

  .changePasswordButton {
    padding: 6px;
    font-size: 12px;
  }
}