.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #FEFFFB;
  border-radius: 11px;
  align-items: center;
  padding: 1rem;
  flex: 0 0 25%;   
  margin: 1rem;
  /* width: 100%; */
}
.services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}


@media (max-width: 768px) {
  .serviceBlock {
    width: calc(100% - 2rem);
  }
}

.serviceName {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.servicePrice {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}


.signupButton {
  background-color: #c5e1c5;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
  display: block;
  margin: 0 auto;
}
