.container {
    display: flex;   /*к странице*/
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #FEFFFB;
    border-radius: 11px;
    align-items: center;
    padding: 1rem;
    flex: 0 0 100%;   
    margin: 1rem;
    
  }
  .vopros {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  
  @media (max-width: 768px) {
    .voprosBlock {
      width: calc(100% - 2rem);
    }
  }
  
  .voprosName {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  

  
  
  .signupButton {
    background-color: #c5e1c5;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: block;
    margin: 0 auto;
  }
  