.block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #6C755A;
    transform: translateY(-600px);
  }
  
  .image {
    width: 40%;
    border-radius: 11px;
    padding-left: 60px;
    padding-top: 20px;
    margin-top: 20px;
  }
  
  .image img {
    width: 100%;
    height: auto;
  }
  .styles.text {
    list-style-type: disc;
  }
  .content {
    width: 50%;
    padding: 20px;
  }
  
  /* Заголовок */
  .title {
    transform: translate(-50%, -50%);
    float: center;
    font-size: 28px;
    margin-bottom: 60px;
    color: #F8FDEE;
    font-family: PT Sans;
    font-weight: bold;
    padding-top: 4px;
  }
  
  /* Текст */
  .text {
    font-size: 23px;
    font-family: PT Sans;
    color: #F8FDEE;
    line-height: 1.5;
  }
  
  /* Кнопка */
  .button {
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;  
    padding: 0.5rem 1rem;
    border: 1px solid #6C755A;
    border-radius: 11px;
    background-color: #F5F5F5;
    cursor: pointer;
    box-shadow: 1px 14px 14px rgba(0, 0, 0, 0.2);
    margin-top: 45px;
    width: 40%;
    height: 500%;
    text-decoration: none;
    margin-right: 55px;
    
  }
  /* .button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: PT Sans;
    font-weight: bold;
    display: inline-block;
    padding: 10px 20px;
    color: #6C755A;
    text-decoration: none;
    float: right;
    border: 1px solid #6C755A;
    border-radius: 11px;
    background-color: #F5F5F5;
    cursor: pointer;
    box-shadow: 1px 14px 14px rgba(0, 0, 0, 0.2);
    margin-top: 95px;
    width: 384px;
    text-decoration: none;
    margin-bottom: 35px;
    margin-right: 30px;
  } */
  .button a {
    color: #6C755A;
  }
  .button button:hover {
    background-color: #eee;
  }
  .button a.activeLink {
    color: #6C755A;
  }
  
  /* Адаптивность */
  @media screen and (max-width: 768px) {
    .block {
      flex-direction: column;
      align-items: center;
    }
  
    .image {
      width: 100%;
    }
  
    .content {
      width: 100%;
      padding: 10px;
    }
  }